extends pug/page

mixin applicationSuccess()
  main.page__content.main
    .main__title
      h1.title.title--main Bewerbung eingesendet!


block data
  - var title = "Lernstil-Diagramm — Online Werkzeug zum erstellen eines Lernstil-Diagramms nach Kolbs Inventar"
  - var language = "de"
block body
  .page.page--bg-color-primary
    .page__wrapper
      header.page__header.header
        nav.nav
          ul.nav__list
            li.nav__item.nav__item--right
              +nav-link-github("style-home")
        +applicationSuccess()
      footer.page__footer.footer
        +coded-with-love-using("Vue.js", "https://vuejs.org/")
